/* background-color: #FFDE00; */
/* href="https://www.pokemoncenter.com/static/images/no-image.jpg" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    background-color: white;
}

.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
}

#hero_img {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 65%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: saturate(200%);
}



.slide1 {
    width: 60%;
    height: 100%;
    background-color: #e2c820;
    padding-left: 40px;
}

.scrol {
    width: 40px;
    height: 100%;
}

.logo {
    width: 60%;
    height: 25%;
}

.logo img {
    width: 15vw;
    height: 8vw;
    object-fit: contain;
}

.content {
    width: 60%;
    height: 50%;
}

.content h4 {
    font-weight: 500;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.content h1 {
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
}

.content p {
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}


.lastpara {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-top: 50px;
}

.line {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 2px;
    background-color: black;

}



.preload {
    width: 55%;
    height: 35%;
    padding: 40px;
    overflow: hidden;
}


.preload img {
    width: 50%;
    height: min-content;
    object-fit: cover;
}

.slide2 {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: wheat;
    padding-right: 30px;
}


.slide2 i {
    font-size: 40px;
    position: absolute;
    top: 15px;
    right: 45px;
}

.scrol {
    width: 100px;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    gap: 15px;
}

.scrol span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e2c820;
}

.scrol span:nth-child(1) {
    background-color: black;
}

 

